.programmes {
  margin: 40px auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.programme img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.programme {
  flex-basis: 33%;
  position: relative;
}

.caption img {
  width: 50px;
}

.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background: #000f984d;
  opacity: 0;
  padding-top: 70%;
  transition: 0.3s;
  cursor: pointer;
}

.programme:hover .caption {
  opacity: 1;
  padding-top: 0;
}


@media screen and (max-width: 947px) {
  .programmes {
    margin: 40px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}