nav {
  box-sizing: border-box;/*hmm*/
  width: 100vw;
  height: 10vh;
  background-color: #212ea0;
  display: flex;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  font-weight: 200px;
  color: white;
  justify-content: space-between;
  z-index: 10;
}

nav h3 {
  font-weight: 600;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: small;
}

nav li {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav img {
  height: 40px;
  width: 40px;
}

nav button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  border-style: none;
  background-color: white;
  color: black;
}

.university-logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  width: 20px;
  height: 20px;
  display: none;
}


@media screen and (max-width: 947px) {
  
  nav {
    height: 10vh;
    width: 100%;
    padding: 0 30px;
  }

  nav li {
    display: none;
  }

  nav button {
    display: none;
  }
  
  nav .menu {
    display: block;
  }
}